.thumbnail {
    width: 180px;
    padding: 3px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid gray;
    cursor: pointer;
}

.toCart {
    width: 180px;
    padding-left: 16px;
}