.lightbox-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 105;
}

.lightbox-content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
}

.lightbox-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90vh;
    border-radius: 5px;
    box-shadow: 620px rgba(0, 0, 0, 0.8);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 8px;
    color: white;
}